@import url('https://fonts.googleapis.com/css?family=Overpass+Mono:400,600');

$dark-grey: #404040;
$sidebar-link-color: #eed3af;
$ocaml-orange: #F48A32;
$general-text: #4a4a4a;
$element-bg-color: #f7f7f7;
$blink-color: #ffbd2d;

* {
	box-sizing: border-box;
}

html, body, #site-container {
	height: 100%;
}

body {
	font-family: "Segoe UI", "Roboto", "Ubuntu", sans-serif;
	margin: 0;
	color: $general-text;
	line-height: 1.4;
}

ul {
	padding: 0;
}

a {
	text-decoration: none;
}

#main-container {
	margin-left: 300px;
	font-size: 1.05rem;
	height: 100%;

	.content {
		padding: 2rem 3rem 4rem 3rem;
		max-width: 950px;
	}
}

#home {
	min-height: 100%;
	display: grid;
	grid-template-areas: "content"
											 "footer";
	grid-template-rows: 1fr auto;
	grid-template-columns: auto;

	.content {
		grid-area: content;

		ul {
			list-style: disc;
			margin-left: 2rem;
		}
	}

	.footer {
		grid-area: footer;
		padding: 0 1rem;
		font-size: 0.7rem;
		display: flex;
		justify-content: space-between;
		align-items: center;

		a {
			color: $dark-grey;

			&:hover, &:active {
				text-decoration: underline;
			}
		}
	}
}

@import "sidebar.scss";
@import "content.scss";
